{% extends './basic.html' %}
{% load static %}
{% block title %}| Change Password {% endblock %}

 {% block head %}



{% endblock %}

	{% block style %}   {% endblock %}

{% block search %}



{% endblock %}

{% block body %}

<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center m-b-md custom-login">
				<h3>Change Password</h3>

			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">



                            <form action="{% url 'change_password' %}" name="change_pass" method="post">

                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="password">Current Password</label>
                                <input type="password"   placeholder="******" required name="old_pass" class="form-control">

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">New Password</label>
                                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                                       placeholder="******" required name="pass1" id="password" class="form-control">

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Confirm New Password</label>
                                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                                     placeholder="******" required name="pass2" id="confirmpassword" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-success btn-block loginbtn">Reset Password</button>

                        </form>
                    </div>
                </div>
			</div>

		</div>
    </div>


{% endblock %}

{% block js %}
<script>
function validate(){
    let  pass1 = $('#password').val()
    let  pass2 = $('#confirmpassword').val()
    if(pass1 == pass2){
    document.change_pass.submit()
    }else{
    alert('New Password and Confirm Password Do not match..')
    return false;
    }

}
</script>

{% endblock %}
