{% extends './basic.html' %}
{% load static %}
{% block title %}| Pay Fee {% endblock %}

 {% block head %}




{% endblock %}

	{% block style %}  
	<style type="text/css">
		.remove{
			display: none;
		}
	</style>


	 {% endblock %}

{% block search %}

{% endblock %}

{% block body %}

<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center m-b-md custom-login">
				<h3>Pay Fee</h3>

			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form id="payment_form" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="control-label">Month</label>
                                <select name="month" required class="form-control" id="month">
                                    <option value="none" selected="" disabled="">Select Month</option>
                                    <option value="JAN">JANUARY</option>
                                    <option value="FEB">FEBRARY</option>
                                    <option value="MAR">MARCH</option>
                                    <option value="APR">APRIL</option>
                                    <option value="MAY">MAY</option>
                                    <option value="JUN">JUNE</option>
                                    <option value="JUL">JULY</option>
                                    <option value="AUG">AUGUST</option>
                                    <option value="SEP">SEPTEMBER</option>
                                    <option value="OCT">OCTOBER</option>
                                    <option value="NOV">NOVEMBER</option>
                                    <option value="DEC">DECEMBER</option>

                                </select>
                            </div>
                            <div class="form-group" id="section">
                                <label class="control-label" >Amount</label>
                                <input type="number" value="{{monthly}}" required name="amount" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-success btn-block loginbtn">Pay Now</button>

                        </form>
                    </div>
                </div>
			</div>

		</div>
    </div>


{% endblock %}

{% block js %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $('#payment_form').submit(function(event){
        let month = $('#month').val()
        if(month==null){
            alert("Please select month")
            return false;
        }
        else{

            var formData = {
                'month':month,
                'amount':$('input[name=amount]').val(),
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
            };
            $.ajax({
            type:"POST",
            url :"{% url 'pay_fee' %}",
            data: formData,
            encode:true
            })
            .done(function(data){

            datas = JSON.parse(data)
            let amount = datas['amount'];
            let orderid = datas['orderid'];
            let callback_url = datas['callback_url'];
            let keyid = datas['keyid'];
            var options = { "key": keyid,
                    "amount": amount*100,
                    "currency": "INR",
                    "name": "St. Lamart",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": orderid,
                    "callback_url": callback_url
                    };
            var rzp1 = new Razorpay(options);
            rzp1.open();

            });
            event.preventDefault();
        }
    });

</script>



{% endblock %}