{% extends './basic.html' %}
{% load static %}
{% load join_class %}
{% block title %}| View Marks {% endblock %}

 {% block head %}
<script>
    var count = 1
    function srno(e){
        document.getElementById(e).innerHTML= count;
        count = count+1
    }
</script>
{% endblock %}

{% block style %} {% endblock %}

{% block search %} {% endblock %}

{% block body %}

<div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 90px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">View Marks</a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="{% url 'view_marks' %}" class="dropzone dropzone-custom needsclick add-professors" enctype="multipart/form-data" method="post" name="assign">{% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <div class="form-group">
                                                                            <label>Exam Type</label>
                                                                            <select name="type" required class="form-control" id="exm">
                                                                                    <option value="none" selected="" disabled="">Select Exam</option>
                                                                                     <option value="UT1" >UT1</option>
                                                                                     <option value="UT2" >UT2</option>
                                                                                     <option value="UT3" >UT3</option>
                                                                                     <option value="PT1" >PT1</option>
                                                                                     <option value="PT2" >PT2</option>
                                                                                     <option value="PT3" >PT3</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <div class="form-group">
                                                                        <label></label>
                                                                        <button type="submit" class="btn btn-success form-control">Submit</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>


                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% if marks %}
<div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Marks</h4>


                            <div class="asset-inner">

                                <table>
                                    <tr>
                                        <th>No</th>
                                        <th>Subject</th>
                                        <th>Teacher</th>
                                        <th>Obtained Marks</th>
                                        <th>Total Marks</th>
                                        <th>Remarks</th>

                                    </tr>

                                    {% for mark in marks %}
                                    <tr>
                                        <td id="{{mark.id}}"><script>srno({{mark.id}})</script></td>
                                        <td>{{ mark.subject }}</td>
                                        <td>{{ mark.added_by.first_name }} {{ mark.added_by.last_name }}</td>
                                        <td>{{ mark.obtain_marks|marks }}</td>
                                        <td>{{ mark.total_marks|marks }}</td>
                                        <td>{{ mark.remarks }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}

{% block js %}


<script>



</script>

{% endblock %}
