{% extends './basic.html' %}
{% load static %}
{% block title %}| View leave {% endblock %}

 {% block head %}


{% endblock %}

{% block style %}



{% endblock %}

{% block search %}



{% endblock %}

{% block body %}

<div id="content" class="pmd-content inner-page admin" style="margin-top: 90px;margin-left: 30px;">

    <!-- Title -->
    <h1 id="leave">Leave</h1>
    <!-- End Title -->
    <!--breadcrum start-->

    <!--breadcrum end-->

    <section class="component-section" id="employee">
        <table class="table pmd-table table-hover pmd-table-card">
                <thead class="thead-light">
                    <tr>
                        {% if is_student %}
                        <th>Employee</th>
                        {% endif %}
                        <th>Leave Type</th>
                        <th>Half Day</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for leave in all_leaves %}
                    <tr>
                        {% if is_student %}
                        <td data-title="Employee">{{leave.student.first_name}}</td>
                        {% endif %}
                        <td data-title="Leave Type">{{leave.type}}</td>
                        {% if leave.halfday %}
                        <td data-title="Half Day">Yes</td>
                        {% else %}
                        <td data-title="Half Day">No</td>
                        {% endif %}
                        <td data-title="Start Date">{{leave.start_date}}</td>
                        <td data-title="End Date">{{leave.end_date}}</td>
                        <td data-title="Reason">{{leave.reason}}</td>


                        <td data-title="Status">{{leave.status}}</td>
                        {% if is_student and leave.status == 'Pending' %}
                        <td data-title="">

                            <a href="/teacher/students_leave/{{leave.id}}/Accept/" title="Accept" class="pmd-btn-fab btn-xs btn-outline-secondary btn mr-2 pmd-ripple-effect">
                                <i class="material-icons">done</i>
                            </a>
                            <a href="/teacher/students_leave/{{leave.id}}/Reject/" title="Reject" class="pmd-btn-fab btn-xs btn-outline-danger btn pmd-ripple-effect" >
                                <i class="material-icons">close</i>
                            </a>


                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
        </table>
    </section>
</div>


{% endblock %}

{% block js %}


{% endblock %}


