{% extends './basic.html' %}
{% load static %}
{% block title %}| Add Student {% endblock %}

 {% block head %}



{% endblock %}

{% block style %}



{% endblock %}

{% block search %}



{% endblock %}

{% block body %}

<div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 90px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Add Student</a></li>
                            </ul>
                             <div class="add-product">
                                <a class="Danger danger-color" href="#" onclick="function" data-toggle="modal" data-target="#upload_csv">Add By Excel</a>
                            </div>
                            <!--  Modal start   "> -->
                             <div id="upload_csv" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Upload File</h3><br>
                                        <form action="{% url 'add_student_excel' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="form-group">
                                                <input name="data" required type="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                            <!--  Modal end      -->
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="{% url 'add_students' %}" onsubmit="return Validate()"  class="dropzone dropzone-custom needsclick add-professors" enctype="multipart/form-data" method="post" name="addstud">{% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <input name="firstname" type="text" required onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)) ' class="form-control" placeholder="First Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="lastname" type="text"  onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)) ' class="form-control" placeholder="Last Name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="fathername"  type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)) ' class="form-control" placeholder="Father Name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="mothername"  type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)) ' class="form-control" placeholder="Mother Name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="admno" type="number" class="form-control" placeholder="Admission no.">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="address" type="text" class="form-control" placeholder="Address">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="mobileno" maxlength=10 onKeyPress="return numbersonly(this, event)"  name="phone" placeholder="Enter Phone Number" class="form-control" id="phone" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="dob" id="finish" type="date" class="form-control" placeholder="Date of Birth">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" name="pass1" id="password" required class="form-control" placeholder="Password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" name="pass2" required id="confirm_password" class="form-control" placeholder="Confirm Password">
                                                                    <span id='message'></span>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <select name="class" required class="form-control" id="cls" onChange="getsection()">
																			<option value="none" selected="" disabled="">Select Class</option>
                                                                            {% for class in classes %}
																			<option value="{{class}}">{{class}}</option>
                                                                            {% endfor %}

																		</select>
                                                                </div>
                                                                 <div class="form-group">
                                                                    <select name="section"  class="form-control" id="section">
																			<option value="none" selected="" disabled="">Select Section</option>


																		</select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <select name="gender" id="gender" required class="form-control">
																		<option value="none" selected="" disabled="">Select Gender</option>
																		<option value="Male">Male</option>
																		<option value="Female">Female</option>
																	</select>
                                                                </div>
                                                                <div class="form-group">
                                                                     <input type="text" name="country" value="India" class="form-control" placeholder="Country">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="state" value="" class="form-control" placeholder="State">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text"  name="city" value="" class="form-control" placeholder="City">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="postcode" id="postcode" type="text" value="" class="form-control" placeholder="Postcode">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="image" type="file" class="form-control" accept="image/png,image/jpeg">
                                                                </div>
                                                                <div class="form-group">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                 <div class="inline-checkbox-cs">
                                                                                    <label class="checkbox-inline i-checks pull-left">
                                                                                        <input type="checkbox" value="True" name="is_rte">Is RTE</label>
                                                                                 </div>
                                                                            </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light" onclick="Validate()">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
console.log($('#cls').val())
	$('#password, #confirm_password').on('keyup', function () {
  	if ($('#password').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('color', 'green');
  	} else 
    $('#message').html('Not Matching').css('color', 'red');
	});
	function Validate(){

		let pass1, pass2 , gender, clss , sec;
		pass1 = $('#password').val()
		pass2 = $('#confirm_password').val()
		gender = $('#gender').val()
		clss = $('#cls').val()
		sec = $('#section').val()

		if (pass1 != pass2){
		alert("password do not match");
			return false;
		}
		 else if (clss == null) {
			alert("Select class");
			return false;
		}
		else if(sec == null){
			alert("Select Section");
			return false;
		}
		else if (gender == null){
			alert("Select Gender");
			return false;
		}

		else{
			retutn true;
		}

	}
</script>
<script>

    function getsection(){

    var select = document.getElementById("section");

    // for remove all option from select 

    var length = select.options.length;
    for (i = length-1; i >= 1; i--) {
    select.options[i] = null;
    }


    let section = new Array();
    let cls = $('#cls :selected').val();
    {% for class in classes %}
    if (cls == "{{class.class_name}}"){

        section.push("{{class.section_a}}")
        if ("{{class.section_b}}" != "None"){
        section.push("{{class.section_b}}")
        }
        else if ("{{class.section_c}}" != "None"){
        section.push("{{class.section_c}}")
        }
        else if ("{{class.section_d}}" != "None"){
        section.push("{{class.section_d}}")
        }
        else if ("{{class.section_e}}" != "None"){
        section.push("{{class.section_e}}")
        }
        

        // add option according to class name in section
        let option, i

        for (i=0; i<section.length; i++)
        {
        option = document.createElement( 'option' );
        option.value = option.text = section[i];
        select.add( option );
        }


    }

    {% endfor %}
    }

   
</script>

{% endblock %}
