{% extends './basic.html' %}
{% load static %}
{% block title %}| Add Professor {% endblock %}

 {% block head %}    {% endblock %}

{% block style %}
<style>
    .dz-default.dz-message {
    display: none;
}
</style>

{% endblock %}

{% block search %}



{% endblock %}

{% block body %}

<div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top: 90px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Add Teacher</a></li>
                            </ul>
                            <div class="add-product">
                                <a class="Danger danger-color" href="#" onclick="function" data-toggle="modal" data-target="#upload_csv">Add By Excel</a>
                            </div>
                            <!--  Modal start > -->
                             <div id="upload_csv" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Upload File</h3><br>
                                        <form action="{% url 'add_teacher_excel' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="form-group">
                                                <input name="data" required type="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                            <!--  Modal end      -->
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="{% url 'add_teacher' %}" method="post" class="dropzone dropzone-custom needsclick add-professors" enctype="multipart/form-data" >{% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <input name="firstname" required type="text" class="form-control" value="" placeholder="First Name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="lastname"  type="text" class="form-control" value="" placeholder="Last Name">
                                                                </div>

                                                                 <div class="form-group">
                                                                    <select name="gender" required class="form-control">
																		<option value="none" selected="" disabled="">Select Gender</option>
																		<option value="Male">Male</option>
																		<option value="Female">Female</option>
																	</select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="dob" id="finish" type="date" value=""  class="form-control" placeholder="Date of Birth">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="address" id="address" type="text" value="" class="form-control" placeholder="Address">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="country" type="text" value="India" class="form-control" placeholder="Country">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="state" id="state" type="text" value="" class="form-control" placeholder="State">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="city" type="text" value="" class="form-control" placeholder="City">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="postcode" id="postcode" type="text" value="" class="form-control" placeholder="Postcode">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="mobileno" type="number" value="" class="form-control" placeholder="Mobile no.">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="email" type="text" value="" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" name="pass1" id="password" required class="form-control" placeholder="Password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="password" name="pass2" required id="confirm_password" class="form-control" placeholder="Confirm Password">

                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="file" name="image" accept="image/png,image/jpeg">

                                                                </div>





                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <input name="designation" type="text" value="" class="form-control" placeholder="Designation">
                                                                </div>
                                                                 <div class="form-group">
                                                                    <input name="qualification" type="text" value="" class="form-control" placeholder="Qualification">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input name="salary" type="text" value="" class="form-control" placeholder="Basic Salary">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="contract" type="text" value="" class="form-control" placeholder="Contract Type">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="shift" type="text" value="" class="form-control" placeholder="Work Shift">
                                                                </div>






                                                                <div class="form-group">
                                                                    <input name="bank" type="text" value="" class="form-control" placeholder="Bank Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="branch" type="text" value="" class="form-control" placeholder="Branch Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="account" type="text" value="" class="form-control" placeholder="Account Number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="ifsc" type="text" value="" class="form-control" placeholder="IFSC CODE">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="pan" type="text" value="" class="form-control" placeholder="Pan Number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="aadhar" type="text"  value="" class="form-control" placeholder="Aadhar Number">
                                                                </div>


                                                                <div class="form-group res-mg-t-15">
                                                                    <textarea name="description" placeholder="Description"></textarea>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}

{% block js %}

{% endblock %}
