{% extends './basic.html' %}
{% load static %}
{% block title %}| All Students {% endblock %}

 {% block head %}
<script>
    var count = {{count}}
    function srno(e){
        document.getElementById(e).innerHTML= count;
        count = count+1
    }
</script>
{% endblock %}

	{% block style %}   {% endblock %}

{% block search %}

    <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <form action="{% url 'admin_all_students' %}" role="search" class="sr-input-func">
                                        <input type="text" name="q" placeholder="Search..." class="search-int form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li><a href="{% url 'admin_home' %}">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li><a href="{% url 'admin_all_students' %}"> <span class="bread-blod">All Students</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block body %}
<div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Filter By </a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                    <form action="{% url 'admin_all_students' %}"  method="get" >

                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                <div class="form-group">
                                                                    <select name="class" required class="form-control" id="cls" onChange="getsection(); getsubject()">
																			<option value="none" selected="" disabled="">Class</option>
                                                                            {% for class in classes %}
																			<option value="{{class}}">{{class}}</option>
                                                                            {% endfor %}
																		</select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                 <div class="form-group">
                                                                    <select name="section" class="form-control" id="section">
                                                                        <option value="none" selected="" disabled="">Section</option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                 <div class="form-group">

                                                                     <button type="submit" class="btn btn-primary waves-effect waves-light" >Filter</button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>All Students</h4>
                            <div class="add-product">
                                <a href="{% url 'add_students' %}">Add Students</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>No</th>
                                        <th>User Name</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Contact</th>
                                        <th>Setting</th>


                                    </tr>
                                    {% for stud in all_stud %}
                                    <tr>
                                        <td id="{{stud.id}}"><script>srno({{stud.id}})</script></td>
                                        <td>{{ stud.username }}</td>
                                        <td>{{ stud.first_name }}</td>
                                        <td>{{ stud.last_name }}</td>
                                        <td>{{ stud.class_name }}</td>
                                        <td>{{ stud.section }}</td>
                                        <td>{{ stud.phone }}</td>

                                        <td>
                                            <a href="/admin/edit_student/{{ stud.id }}/"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                            <a href="/admin/delete_student/{{ stud.id }}/"><button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <div class="custom-pagination">
                                {% if all_stud.has_previous or all_stud.has_next %}
                                <nav aria-label="Page navigation example">
                                    {% if not q %}
                                    <ul class="pagination">
                                         {% if all_stud.has_previous %}
                                            {% if cls is not None and section is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.previous_page_number}}&class={{cls}}&section={{section}}">Previous</a></li>
                                            {% elif cls is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.previous_page_number}}&class={{cls}}">Previous</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.previous_page_number}}">Previous</a></li>
                                            {% endif %}
                                        {% endif %}

                                        {% for p in page_range %}
                                        {% if all_stud.number == p %}
                                             {% if cls is not None and section is not None %}
                                            <li class="page-item active"><a class="page-link" href="/admin/all_students/?page={{p}}&class={{cls}}&section={{section}}">{{p}}</a></li>
                                            {% elif cls is not None %}
                                            <li class="page-item active"><a class="page-link" href="/admin/all_students/?page={{p}}&class={{cls}}">{{p}}</a></li>
                                            {% else %}
                                            <li class="page-item active"><a class="page-link" href="/admin/all_students/?page={{p}}">{{p}}</a></li>
                                            {% endif %}
                                        {% else %}
                                          {% if cls is not None and section is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{p}}&class={{cls}}&section={{section}}">{{p}}</a></li>
                                            {% elif cls is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{p}}&class={{cls}}">{{p}}</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{p}}">{{p}}</a></li>
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}

                                        {% if all_stud.has_next %}
                                            {% if cls is not None and section is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.next_page_number}}&class={{cls}}&section={{section}}">Next</a></li>
                                            {% elif cls is not None %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.next_page_number}}&class={{cls}}">Next</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="/admin/all_students/?page={{all_stud.next_page_number}}">Next</a></li>
                                            {% endif %}
                                        {% endif %}

                                    </ul> &nbsp {{all_stud.number}} of {{last_page}}
                                    {% endif %}
                                </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block js %}
<script>
    function getsection(){

    var select = document.getElementById("section");

    // for remove all option from select

    var length = select.options.length;
    for (i = length-1; i >= 1; i--) {
    select.options[i] = null;
    }

    let section = new Array();
    let cls = $('#cls :selected').val();
    {% for class in classes %}
    if (cls == "{{class.class_name}}"){

        section.push("{{class.section_a}}")
        if ("{{class.section_b}}" != "None"){
        section.push("{{class.section_b}}")
        }
        else if ("{{class.section_c}}" != "None"){
        section.push("{{class.section_c}}")
        }
        else if ("{{class.section_d}}" != "None"){
        section.push("{{class.section_d}}")
        }
        else if ("{{class.section_e}}" != "None"){
        section.push("{{class.section_e}}")
        }


        // add option according to class name in section
        let option, i

        for (i=0; i<section.length; i++)
        {
        option = document.createElement( 'option' );
        option.value = option.text = section[i];
        select.add( option );
        }

    }

    {% endfor %}
    }

</script>



{% endblock %}
