{% extends './basic.html' %}
{% load static %}
{% block title %}| 404 Error {% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

{% block search %}


{% endblock %}


{% block body %}
<div class="calender-area mg-b-15" style="margin-top:90px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="calender-inner">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block js %}

{% endblock %}
