{% extends './basic.html' %}
{% load static %}
{% block title %}| Recover Password {% endblock %}

 {% block head %}



{% endblock %}

	{% block style %}   {% endblock %}

{% block search %}



{% endblock %}

{% block body %}

<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center m-b-md custom-login">
				<h3>Reset Password</h3>

			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form action="{% url 'reset_password' %}" id="loginForm" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="Enter Your User Name " title="Please enter you username" required value="" name="username" id="username" class="form-control">

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required value="" name="pass1" id="password" class="form-control">

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Confirm Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required value="" name="pass2" id="confirmpassword " class="form-control">

                            </div>

                            <button type="submit" class="btn btn-success btn-block loginbtn">Reset Password</button>

                        </form>
                    </div>
                </div>
			</div>

		</div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}
